/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#chat_widget_container{padding:20px 20px 5px 20px; background-color:#F2F2F2; border:5px solid #AFAFAF; 
  border-bottom:0px; width:333px; font-size:11px; font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
  position:fixed; bottom:0px; right:20px}
 
#chat_widget_login{width:333px; text-align:center; height:166px; margin-top:80px}
 
#chat_widget_messages_container{float:left; width:200px; border:1px solid #DDD; height:200px; overflow:auto;
  padding:5px; background-color:#FFF; position:relative}
 
#chat_widget_messages{overflow-x:hidden; overflow-y:auto; position:absolute; bottom:0px}
 
#chat_widget_online{width:100px; height:210px; float:left; padding:0px 10px; border:1px solid #DDD;
  border-left:0px; background-color:#FFF; overflow: auto;}
 
#chat_widget_online_list{list-style:none; padding:0px}
 
#chat_widget_online_list >li{margin-left:0px}
 
#chat_widget_input_container{margin-top:10px; text-align:left}
 
#chat_widget_input{width:260px; margin-right:10px; border:1px solid #DDD; padding:2px 5px}
 
.clear{clear:both}
